/* style.css */
@keyframes glow {
  0% {
    box-shadow: 0 0 5px rgba(0, 150, 255, 0.5);
  }
  50% {
    box-shadow: 0 0 20px rgba(0, 150, 255, 1);
  }
  100% {
    box-shadow: 0 0 5px rgba(0, 150, 255, 0.5);
  }
}
.checkbox-container {
  /* Make the label act like a clickable card */
  position: relative;
  display: inline-flex;        /* horizontal layout of [checkbox + text] */
  align-items: center;
  cursor: pointer;
  border: 1px solid #779ECC;
  border-radius: 5px;
  padding: 8px 10px;
  margin-bottom: 5px;
  transition: background-color 0.2s ease;
  font-size: 0.8em;
  width:100%;
  color: #779ECC;
}

.checkbox-container:hover {
  background-color: #fcfdff;   /* slightly different color on hover */
}

/* Add a custom 'check' indicator to the left side */
.checkbox-container::before {
  content: "";
  /* The little box on the left that acts like our "checkbox" */
  display: inline-block;
  width: 18px;
  height: 18px;
  margin-right: 10px;

  background-color: white;
  border: 1px solid #779ECC;
  border-radius: 3px;   /* optional if you want a rounded look */
  box-sizing: border-box;
}

.checkbox-container::after {
  content: "";
  display: none;  /* show only when .checked */
  position: absolute;
  top: 10px;
  left: 16px;
  width: 6px;
  height: 11px;
  /* This forms the “check” by combining a right border & bottom border at 45° */
  border-right: 2px solid #779ECC;
  border-bottom: 2px solid #779ECC;
  transform: rotate(45deg);
}
.checkbox-container.checked::after {
  display: block;  /* reveal checkmark */
}

/* Entire label background turns lightblue if 'checked' */
.checkbox-container.checked {
  background-color: #e6f3fe;
  font-weight:500;
}

div#gene-track-wrapper {
  overflow-y: hidden;
  overflow-x: visible;
  display: inline-block;
  min-width: max-content;
}

/* Custom column width classes */
.col-20 {
  flex: 0 0 22%;
  padding: 0 10px;
}
.col-40 {
  flex: 0 0 39%;
  padding: 0 10px;
}

/* Container for full-width rows */
.col-full {
  flex: 0 0 100%;
  padding: 0 10px;
}
input[type="submit"].submit-button.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
/* Style for the add second chromosome toggle */
.add-second-chr-container {
  text-align: center;
  width: 100%;
  display: inline-flex;
  vertical-align: middle;
  cursor:pointer
}
span.toggle-plus-label {
  font-size: 0.80em;
  line-height: 0;
  margin: auto 0;
  color:#888;
}
.toggle-plus {
  font-size: 2em;
  color: #888;
  cursor: pointer;
  transition: transform 0.3s ease, color 0.3s ease;
  display: inline-block;
  width: 1em;       /* restrict width to roughly one character */
  height: 1em;      /* restrict height to roughly one character */
  line-height: 1em; /* ensure text is vertically centered */
  text-align: center;
  vertical-align: middle;
  transform-origin: center center;
}
.toggle-plus.active {
  transform: rotate(45deg);
  color: #555;
}

/* Reverse/Flip Toggle Styling (Using provided yesNo style) */
.yesNo {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  gap: 0.3em;
  border: 1px solid lightgrey;
  border-radius: 5px;
}
.yesNo > legend {
  font-size: 0.7em;
}
.no-bottom-margin {
  margin-bottom: 0!important;
}
.radioButton {
  display: inline-block;
  position: relative;
}
.radioButton label {
  background-color: white;
  border-radius: 5px;
  border: 1px solid;
  display: block;
  padding: 0.3em 0.8em;  /* Shorter height */
  font-size: 11px;
}
.radioButton input {
  appearance: none;
  background: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 2;
}
.radioButton input:checked + label {
  background-color: #59AFF8;
  color: white;
  border-color: white;
  box-shadow: 0 0 0 2px #59AFF8;
}
.radioButton input:not(:checked):hover + label,
.radioButton input:not(:checked):focus + label { 
  background-color: #fff;
  border-color: #2b6cb0;
  cursor: pointer;
}
.radioButton__true input:checked + label {
  background-color: #F2C894;
  box-shadow: 0 0 0 1px #F2C894;
}
.radioButton__true input:not(:checked):hover + label,
.radioButton__true input:not(:checked):focus + label {  
  border-color: #F2C894;
  color: #F2C894;
} 
.radioButton__false input:checked + label {
  background-color: #F2C894;
  box-shadow: 0 0 0 2px #F2C894;
}
.radioButton__false input:not(:checked):hover + label,
.radioButton__false input:not(:checked):focus + label {
  background-color: white;
  border-color: #F2C894;
  color: #F2C894;
}

.upload-button.loading {
  animation: glow 1s infinite;
  pointer-events: none;
  opacity: 0.8;
}

p.loading-screening-text {
  font-size: 12px;
  margin-left: 25px;
  color: green;
  text-decoration: underline;
}

.atac-square, .ctcf-square, .screening-square {
  margin-top: -3px;
  display: inline-block;
  width: 12px;
  height: 12px;
  margin-right: 5px;
  vertical-align: middle;
}
.atac-square {
  background-color: #FF985A;
}
.ctcf-square {
  background-color: #779ECC;
}
.screening-square {
  background-color: #9FC0DE;
}

#output-container {
  display: flex;
  align-items: center;
  justify-content: center; /* or any height you want to ensure vertical centering */
}
.loader {
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 8px solid #9FC0DE;
  border-right-color: #F2C894;
  animation: l2 1s infinite linear;
}
@keyframes l2 {
  to { transform: rotate(1turn); }
}

*, *::before, *::after {
  box-sizing: border-box;
}
input#peaks_file_upload {
  display: none;
}
.screening_title, .atac_title, .ctcf_title {
  margin-left: 25px;
  font-size: 12px;
}

.screening_title_container, .atac_title_container, .ctcf_title_container {
  position: sticky;
  top: 0;
  left: 0;
}
#screening-fields-2 .row {
  margin-bottom: 0px !important;
  margin-top: 10px !important;
}
.disabled-toggle {
  opacity: 0.6;
  pointer-events: none;
}

/* Global Body Styling */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}
div#peaks_file_container {
  margin-top: 20px;
} 
div#screening-fields-2 {
  margin: 15px 0 0 0;
}
div#deletion-fields {
  margin: 20px 0 0 0;
}
div#gene_track_chart {
  position: relative;
  margin-top: 10px;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
  margin-bottom: 25px;
} 
div#custom_axis_atac, div#custom_axis_ctcf, div#custom_axis_screening {
  margin-top: -45px;
}
div#gene-track-wrapper {
  margin-top: -20px;
}
div#custom_axis_hic {
  margin-top: -10px;
}
div#gene_track_chart::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}
.form-header {
  padding-left: 10px;
  border: 1px solid #FF985A;
  margin: 10px 10px 15px 10px;
  color: #FF985A;
}
#deletion-fields .row {
  margin-bottom: 5px;
}
.container {
  display: flex;
  flex-wrap: wrap;
  min-height: 100vh;
}

.form-header h1 {
  margin-bottom: 10px;
  font-size: 1.3rem;
}
.form-container {
  flex: 0 0 35%;
  max-width: 400px;
  padding: 10px 20px 20px 20px;
  background-color: #f8f8f8;
  overflow-y: auto;
}
.output-container {
  flex: 1 1 65%;
  max-width: 65%;
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 15px;
  align-items: center;
}
.col-full {
  flex: 1 1 100%;
  padding: 0 10px;
}
.col-half {
  flex: 1 1 50%;
  padding: 0 10px;
}
label.small-label {
  font-size: 0.8em;
  font-weight: normal;
  margin-bottom: 3px;
  display: block;
}
.inline-label {
  font-size: 0.8em;
  font-weight: normal;
  margin-left: 5px;
}
input[type="text"],
select,
input[type="number"] {
  width: 100%;
  padding: 8px;
  font-size: 0.8em;
  margin-bottom: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.file-input-container {
  display: flex;
  align-items: center;
}
.atac-input-container,
.ctcf-input-container {
  margin-bottom: 0;
}
.file-upload-group {
  display: flex;
  align-items: center;
}
.file-upload-group select {
  height: 40px;
}
.file-input-container input[type="file"] {
  display: none;
}
.upload-button {
  display: inline-block;
  padding: 8px 16px;
  margin-left: 10px;
  background-color:#779ECC ;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 0.8em;
  transition: background-color 0.3s ease;
  margin-top: -4px;
  line-height: 24px;
}
.upload-button:hover {
  background-color: #FFB347;
}

/* Toggle Switches */
.switch {
  position: relative;
  background: #D7D7D7;
  border-radius: 32px;
  overflow: hidden;
  margin-top: 5px;
  margin-bottom: 10px;
}
.switch-input {
  display: none;
}
.switch-label {
  font-weight: bold;
  position: relative;
  z-index: 2;
  float: left;
  /* For 3-option toggles */
  width: 33.33%;
  line-height: 28px;
  font-size: 12px;
  color: #676a6c;
  text-align: center;
  cursor: pointer;
  transition: color 0.3s;
}
.switch-input:checked + .switch-label {
  color: #fff;
}


div#global-error-module {
  font-size: 0.8rem;
  margin: 0 10px 20px 10px;
  border: 1px solid lightgrey;
  border-radius: 5px;
  padding: 0 20px;
  color: #555;
}
.model-requirements-box {
  font-size: 0.8rem;
  margin: 0 10px 20px 10px;
  border: 1px solid #779ECC;
  border-radius: 5px;
  padding: 0 20px;
  color: #779ECC;
  background-color: #e6f3fe;
  line-height:1.3
}

/* Optional: remove default bullet style */
ul.global-error-list, ul.global-warning-list, ul.model-requirements-list {
  list-style-type: none; /* or whatever spacing you prefer */
  margin: 1rem 0;
  padding:0;
}

/* The magic: Each LI gets a background icon. We can do it via ::before pseudo-element. */
ul.global-error-list li, ul.global-warning-list li, ul.model-requirements-list li {
  position: relative;
  margin-left: 0; /* if you want a flush left edge */
  margin-bottom: 0.5rem; /* spacing between lines */
  padding-left: 24px; /* space for the icon */
}

/* Insert the warning.svg as a pseudo-element before the actual text */
ul.global-error-list li::before, ul.global-warning-list li::before, ul.model-requirements-list li::before {
  content: "";
  position: absolute;
  left: 0; 
  top: 0; 
  width: 16px;
  height: 16px;
  
  background-size: contain!important;
  margin-top: 2px; /* adjust vertical alignment as needed */
}
ul.global-error-list li::before {
  background: url("/static/warning.svg") no-repeat center center;
}
ul.global-warning-list li::before, ul.model-requirements-list li::before {
  background: url("/static/green-circle.svg") no-repeat center center;
}



/* Deletion/Screening Toggle */
.ds-toggle {
  width: 100%;
  height: 28px;
}
.ds-toggle .switch-selector {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 33.33%;
  height: 28px;
  border-radius: 32px;
  background-color: #FFB347;
  transition: all 0.3s cubic-bezier(0.18, 0.89, 0.32, 1.28);
}
#ds_none:checked ~ .switch-selector {
  transform: translateX(0%);
}
#ds_deletion:checked ~ .switch-selector {
  transform: translateX(100%);
}
#ds_screening:checked ~ .switch-selector {
  transform: translateX(200%);
}
#predict_ctcf_row, #ctcf_norm_row {
  margin-bottom:0 !important;
}
/* Submit Button */
.submit-button {
  display: block;
  padding: 8px 16px;
  background-color: #779ECC;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 0.8em;
  transition: background-color 0.3s ease;
  width:100%;
  margin-top:20px;
}
.submit-button:hover {
  background-color: #FFB347;
}

/* Modal and Instructions */
.modal {
  display: none;
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
}
.modal-content {
  background-color: #fff;
  margin: 15% auto;
  border: 1px solid #888;
  width: 80%;
  max-width: 600px;
  border-radius: 4px;
  font-size: 0.9em;
  line-height: 1.5;
}
.modal-header {
  padding: 20px 50px 20px 20px;
  background-color:#2b6cb0;
  color:white;
  font-style: italic;
}
.modal-header a{
  color:#FFB347;
}
.modal-instructions {
  padding: 10px 20px 20px 20px;
}
.close {
  color: white;
  float: right;
  font-size: 30px;
  /* font-weight: bold; */
  cursor: pointer;
  margin-right: 20px;
  margin-top: 10px;
}
.close:hover,
.close:focus {
  color: #FFB347;
}
.instructions-link {
  margin-bottom: 20px;
  font-size: 0.8em;
  text-decoration:underline;
}
.instructions-link a {
  color: #FF985A;
  text-decoration: none;
}
.instructions-link a:hover {
  text-decoration: underline;
}

/* Responsive Sidebar: above 1000px, fixed width of 380px;
   below 1000px, sidebar becomes a horizontal bar above plot output */
@media (min-width: 801px) {
  .container {
    flex-direction: row;
  }
  .form-container {
    flex: 0 0 350px;
    max-width: 350px;
  }
  .output-container {
    flex: 1;
    max-width: calc(100% - 350px);
  }
}
@media (max-width: 800px) {
  .container {
    flex-direction: column;
  }
  .form-container,
  .output-container {
    flex: 0 0 auto;
    width: 100%;
    max-width: 100%;
  }
  .col-full {
    width: 100%;
}
}
